div#help_index {
   position: fixed;
   width: 200px;
   height: 400px;
   top: 100px;
   left: 2px;
   overflow: scroll;
   font-size: small;
}

#help_index h1 {
   font-size: small;
}

#help_index ul {
   padding-left: 10px;
}

#help_index li {
   padding-top: 2px;
}

#help_index div.scripts ul {
   list-style-type: none;
}

#help_index a {
   text-decoration: none;
}

div#help_content {

}

#help_content h1,h2,h3,h4,h5,h6 {
   font-size: 100%;
}
