#cpanel {
   text-align: center;
   padding-top: 15px;
   padding-bottom: 15px;
}

#pager {
   padding-top: 15px;
   padding-bottom: 15px;
}

#metadata {
   display: none;
}

table.session_details td{
   text-align: left;
}

#pager_first {
   cursor:pointer;
}
#pager_prev {
   cursor:pointer;
}
#pager_next {
   cursor:pointer;
}
#pager_last {
   cursor:pointer;
}
#btn_download {
   display:none;
}